.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  text-align: center;
  height: 30vh;
}

input {
  height: 2rem;
}


a {
  text-decoration: none;
}

